@import 'hamburgers/hamburger';

$white: rgb(254, 254, 254);
$black: rgb(17, 17, 17);
$light-black: rgb(75, 75, 75);

* {
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
	background-color: rgb(253, 253, 251);
}

@mixin nodrag {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nodrag {
    @include nodrag;
}

.dragscroll {
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;

    &:active { 
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        cursor: -o-grabbing;
    }

    // overflow: hidden !important;
    // doesn't work because mobile browsers
}

nav {
    @include nodrag;
    white-space: normal !important; // This is required due to firefox bug
    flex: 0 0 auto;
    padding: 18px 5px;
    -webkit-box-shadow: 0px -3px 21px 0px $black; 
    box-shadow: 0px -3px 21px 0px $black;
    background-color: rgb(76, 93, 104);
    color: $white;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow-x: auto;

    .hamburger {
        vertical-align: middle;
    }

    /*.nav__money {
        padding-left: 20px;
    }*/

    .nav__logout {
        cursor: pointer;
        float: right;
        padding-right: 25px;
        color: rgb(230, 230, 230);
    }
}

.nav-flex {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#game {
    flex: auto;
    display: flex;
    align-items: stretch;
    min-height: 100%;
}

.tabs {
    flex: 7 1 auto;
    width: 100%;
    padding: 30px;
    overflow: auto;
    // TODO: Not sure if I need this? If anything breaks this is why
    // white-space: nowrap;
}

.sidebar {
    @include nodrag;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-width: 20%;
    background-color: rgb(53, 68, 78);
    // #242124 #232B2B #36454F
    color: $white;
    -webkit-box-shadow: inset -13px 7px 30px -11px $black;
    -moz-box-shadow: inset -13px 7px 30px -11px $black;
    box-shadow: inset -13px 7px 30px -11px $black;
    transition: margin-left 0.13s;

    .sidebar__menu {
        position: relative;
        flex: none;

        .menu__list {
            position: relative;
            display: block;
            width: 100%;
            border-bottom: 1px solid rgba(100, 113, 122, 0.4);

            a {
                position: relative;
                display: inline-block;
                width: 50%;
                padding: 16px 22px;

                color: rgb(217, 222, 226);
                font-size: 0.95rem;
                letter-spacing: 2px;
                text-align: center;
                text-decoration: none;
                box-sizing: border-box;
                cursor: pointer;

                &:not(.active):hover {
                    color: rgb(175, 187, 196);
                }

                &:active {
                    outline: none;
                }
            }

            .menu__bar {
                z-index: 2;
                position: absolute;
                display: block;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 50%;
                background-color: rgb(120, 136, 146);

                transition: left .2s ease;
		        -webkit-transition: left .2s ease;
            }

            .menu__tabs.active ~ .menu__bar {
                left: 0;
            }

            .menu__chat.active ~ .menu__bar {
                left: 50%;
            }
        }
    }

    .sidebar__tabs {
        flex: none;
        .tab-title {
            @include nodrag;
            padding: 17px 10px;
            border-bottom: 1px solid rgb(113, 125, 134);
            color: rgb(143, 153, 161);
            font-size: 0.9rem;
        }
        
        .tabs-list {
            list-style: none;
        }
        
        .tabs-list li {
            display: block;
            padding: 11px 10px;
            border-left: 3px solid transparent;
            text-indent: 15px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s border-left 0.3s;
    
            &:hover {
                border-left: 3px solid rgb(133, 146, 156) !important;
                background-color: rgb(66, 84, 97);
            }
        }
        
        .active-tab {
            border-left: 3px solid rgb(83, 98, 109) !important;
            background-color: rgba(255, 255, 255, 0.025);
        }
    }

    .sidebar__chat {
        display: none;
        flex-direction: column;
        flex: 1 0 auto;
        margin: 0;

        .chat__box {
            margin: 10px;

            .chat__input {
                input {
                    width: 100%;
                    margin: 10px 0;
                    padding: 8px 10px;
                    outline: 0;
                    border: 1px solid #F2F2F2;
                    border-radius: 2px;
                    font-size: 1rem;
                }
            }
    
            .chat__text {
                padding: 5px;
                overflow-y: auto;
                white-space: normal;
                word-wrap: break-word;
            }
        }
    }
}

.sidebar--visible {
    flex: 0 !important;
}

.container-box {
    display: inline-block;
    width: 30%;
    min-width: 280px;
    margin: 0 15px 15px 0;
    vertical-align: top;

    .container-header {
        padding: 15px 5px;
        border: 1px solid rgb(200, 200, 200);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        background-color: rgb(250, 250, 249);
        color: $black;
        font-size: 1.15rem;
        text-align: center;
    }

    .mission-header {
        padding-left: 15px;
        text-align: left;
    }

    .container-text,
    .container-body {
        border: 1px solid rgb(200, 200, 200);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $white;
    }

    .container-text {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
        background-color: $white;

        div {
            flex: 1 0 auto;
            height: 100%;
            padding: 12px;
        }

        div:nth-child(1) {
            flex: 0 0 auto;
            padding-right: 25px;
        }

        div:nth-child(2) { // Description div
            flex: 4 1 350px;
        }
    }

    .container-body {
        p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            height: 100%;
            padding: 12px;

            &:not(:last-child) {
                border-bottom: 1px solid rgb(200, 200, 200);
            }

            .label {
                flex: 0;
            }

            .val {
                flex: 0;
            }
        }

        .type .val {
            text-transform: capitalize;
        }
    }
}

.b-btn {
    padding: 20px 70px;
    border: none;
    outline: none;
    background-color: rgb(37, 37, 37);
    color: $white;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
        background-color: rgb(22, 22, 22);
        color: rgb(255, 255, 255);
    }
}

*[data-circle]:after {
    content: attr(data-circle);
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    padding: 5px;

    background-color: rgb(23, 84, 197);
    color: white;
    text-align: center;
    line-height: 18px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

.tabs {
    & > div { // Selects every tab
        display: none;
        margin-right: 30px;
    }

    // 'Home' tab
    .tabs__home {
        .stats,
        .create-cult {
            display: none;
        }

        .stats {
            color: rgb(58, 58, 58);
            line-height: 1.1;
            white-space: nowrap;
        }

        h1 {
            // font-weight: 500;
            font-size: 2.8rem;
            white-space: nowrap;
        }

        #create-cult__form {
            margin-top: 2rem;

            input[type="text"] {
                min-width: 270px;
                width: 50%;
                margin: 10px 5px 10px 0;
                padding: 15px;
                outline: 0;
                border: 1px solid #F2F2F2;
                border-radius: 2px;
                font-size: 1.5rem;
            }

            // Thanks, StackOverflow

            .cult-type {
                display: inline-block;
                min-width: 50%;

                .cult-type__option {
                    display: inline-block;
                    width: 100%;
                    white-space: nowrap;
    
                    & > input { // Hide radio
                        visibility: hidden;
                        position: absolute;
                    }
                    & > input + div { // Div styling
                        padding: 30px 15px;
                        cursor: pointer;
    
                        b {
                            display: block;
                            margin-bottom: 8px;
                            font-weight: 500;
                        }
    
                        i {
                            display: block;
                            margin-bottom: 6px;
                        }
                    }
                    & > input:checked + div { // Checked div styling
                        margin-left: -4px;
                        border-left: 4px solid rgb(78, 128, 238);
                        background-color: rgb(249, 249, 249);
                    }
                }
            }

            & > label {
                display: block;
                min-width: 270px;
                margin: 10px 0;
                font-size: 1.2rem;
            }
        }

        .username {
            color: $light-black;
            font-size: 1.6rem;
            margin-bottom: 20px;
        }

        .username span {
            color: $black;
        }
    }

    .tabs__contacts {
        .contacts {
            @include nodrag;
            //min-width: 400px; //mobtodo
            padding: 10px;
            overflow-x: auto;
            white-space: nowrap; // Force all divs to stay on same row & overflow

            .contact {
                cursor: pointer;
                position: relative;
                display: inline-block;
                
                width: 120px;
                height: 139px;
                margin: 3px 5px 3px 3px;
                border: 1px solid rgba(0, 0, 0, 0.04);
                border-radius: 2px;

                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: box-shadow 0.5s cubic-bezier(.25,.8,.25,1);

                .contact__wrapper {
                    overflow: hidden;

                    img {
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        padding: 7px;
                        transition: transform 0.3s ease-in-out;
                    }
                }
                &:hover,
                &:focus {
                    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
                }

                &:hover img,
                &:focus img {
                    transform: scale(1.1);
                }
            }
        }

        .contact-details {
            display: inline-block;
            //min-width: 50%;
            //min-width: 200px; //mobtodo
            margin-top: 20px;
            padding: 15px 5px 20px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            .contact-details__top {
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;

                img {
                    @include nodrag;
                    pointer-events: none;
                    width: 120px;
                    height: 139px;
                    transform: scale(0.8);
                }
    
                .contact-details__title {
                    display: inline-block;
                    margin: 0 30px 0 10px;
                    font-size: 1.3rem;
                }

                .contact-details__text {
                    display: inline-block;
                    max-width: 600px;
                    margin: 10px;
                    font-size: 1.075rem;
                    color: rgb(70, 70, 70);

                    p {
                        margin-bottom: 1em;

                        b {
                            font-weight: 500;
                        }
                    }
                }
            }

            .contact-details__options {
                ul {
                    li {
                        cursor: pointer;
                        // display: inline-block;
                        // Instead of that, use this:
                        display: block;
                        float: left;
                        clear: left;

                        margin-left: 15px;
                        padding: 5px 20px;
                        border-radius: 4px;
                        font-size: 1.25rem;
                        color: rgb(80, 80, 80);
                        transition: all 0.3s;

                        &:hover {
                            color: rgb(10, 10, 10);
                            background-color: rgb(245, 245, 245);
                        }

                        &:before {
                            content: '';
                            display: block;
                        }
                    }

                    .disabled-text {
                        text-decoration: line-through;
                        color: rgb(120, 120, 120);
                    }
                }
            }
        }
    }

    .tabs__members {
        .chart-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            min-width: 190px;

            #members__tree {
                display: inline-block;
                margin: 0 auto;
                box-sizing: border-box;
                box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
                background: rgb(254, 254, 254);
                border-radius: 2px;

                overflow: auto !important;
                overflow: -moz-scrollbars-none !important;
                -ms-overflow-style: none !important;

                min-height: 250px;
                max-height: 400px;
    
                & .node {
                    z-index: 2;
                    min-width: 180px;
                    padding: 6px 30px; // 6px 14px
                    /*border: 1px solid rgb(40, 40, 40);*/
                    color: rgb(50, 50, 50);
                    background-color: white;
                    font-size: 1rem;
                    line-height: 1.1rem;
                    text-align: center;
                    white-space: nowrap;
                
                    box-sizing: border-box;
                    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 rgb(127, 139, 143);

                    cursor: pointer;
    
                    & * {
                        margin: 0;
                    }
                }
    
                & .node-title {
                    color: rgb(127, 139, 143);
                    font-size: 1rem;
                }

                & .node-desc {
                    color: rgb(124, 138, 143);
                    font-size: 0.85rem;
                }
            }
        }

        .recruit-notification {
            display: none;
            margin: 30px auto 0;
            text-align: center;

            .notification__wrapper {
                cursor: pointer;
                display: inline-block;
                padding: 16px 45px;
                border-radius: 1px;
                background-color: rgb(96, 118, 243);

                transition: background-color 0.3s;

                &:hover {
                    background-color: rgb(103, 126, 255);
                }

                p {
                    display: inline;
                    color: $white;
    
                    b {
                        font-weight: 500;
                    }
                }
            }
        }

        .member-details {
            display: block;
            min-width: 300px;
            width: 50%;
            margin: 30px auto 0;

            border: 1px solid rgba(0, 0, 0, 0.04);
            border-radius: 2px;
            background-color: rgb(254, 254, 252);
            
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            .details__tabs {
                width: 100%;
                overflow-x: auto;
                background-color: rgb(245, 245, 245);
    
                .tabs-list {
                    position: relative;
                    display: block;
                    color: $black;
                    border-bottom: 1px solid rgb(214, 214, 214);
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
                    a {
                        @include nodrag;
                        position: relative;
                        display: inline-block;
                        width: 25%;
                        padding: 16px;
    
                        font-size: 0.95rem;
                        letter-spacing: 2px;
                        text-align: center;
                        text-decoration: none;
                        box-sizing: border-box;
                        cursor: pointer;

                        transition: 0.3s background-color;
    
                        &:active {
                            outline: none;
                        }

                        &:hover {
                            background-color: rgb(240, 240, 240);
                        }
                    }
                }
            }

            .tabs-content {
                margin: 20px;

                & > div:not(.details__none) {
                    display: none;
                }

                .details__info {
                    .accept-recruit, .reject-recruit {
                        cursor: pointer;
                        display: none;
                        margin: 10px 5px 0 0;
                        padding: 13px 35px;
                        border-radius: 1px;
                        color: $white;
                        font-size: 1.1rem;
                    }

                    .accept-recruit {
                        background-color: rgb(18, 97, 25);
                    }
                    .reject-recruit {
                        background-color: rgb(114, 14, 14);
                    }
                }

                h1 {
                    margin-bottom: 8px;
                    font-size: 2rem;
                    color: rgb(15, 15, 15);
                }
    
                h2 {
                    margin-bottom: 17px;
                    font-size: 1.6rem;
                    color: rgb(75, 75, 75);
                }
    
                h3 {
                    margin-bottom: 8px;
                    font-size: 1.1rem;
                    color: rgb(95, 95, 95);

                    span {
                        white-space: nowrap;
                        line-height: 1.2rem;
                    }

                    b {
                        margin: 0 6px;
                        color: black;
                    }
                }
            }
        }
    }

    .tabs__headquarters {
        .money {
            padding-top: 15px;
            color: rgb(60, 60, 60);
            font-size: 1.3rem;
        }

        .headquarters__details__wrapper {
            .headquarters__details {
                display: inline-block;
                min-width: 300px;
                max-width: 700px;
                margin: 20px 0;
                padding: 25px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
                h2 {
                    color: rgb(60, 60, 60);
                    font-size: 1.5rem;
                }
    
                .headquarters__stats {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 25px;
                    
                    .stats__data {
                        .cost {
                            min-width: 150px;
                            margin: 0 10px 10px 0;
                            font-weight: 500;
                            font-size: 1.3rem;
                        }
                    }
    
                    .stats__text {
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }

        .headquarters__header {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            h1 {
                color: rgb(100, 100, 100);
                font-size: 3rem;
            }
        }

        .headquarters__upgrades {
            min-width: 310px;
            max-width: 710px;
            padding-right: 10px;
            font-size: 0;

            .upgrade {
                position: relative;
                display: inline-block;
                height: 100px;
                width: 100px;
                margin: 0;
                padding: 0;

                img {
                    @include nodrag;
                    pointer-events: none;
                    height: 100%;
                    width: 100%;
                }
            }

            .upgrade--selected {
                overflow: hidden;
                
                img {
                    filter: blur(2px);
                }

                button {
                    position: absolute;
                    height: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);

                    width: 80%;
                    padding: 6px 0;
                    color: $white;
                    background-color: $light-black;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .upgrade--owned:after {
                content: ' ';
                z-index: 2;
                position: absolute;
                top: 2px;
                right: 2px;
                width: 14px;
                height: 14px;

                background-color: rgba(27, 116, 9, 0.7);
                text-align: center;
                line-height: 18px;
                border: 0;
                border-radius: 50%;
                box-shadow: 0 0 1px #333;
            }
        }
    }
}

// Source: tobiasahlin.com/spinkit/

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    //margin: 25% auto;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
  
.spinner > div {
    z-index: 10;
    background-color: rgb(70, 70, 70);
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
  
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
  
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@media (max-width: 900px) {
    /*.contact-details__header p {
        display: block;
        max-width: auto;
    }*/

    .container-box {
        display: block;
    }
}

@media (min-width: 751px) and (max-width: 1200px) {
    .sidebar {
        min-width: 30%;
    }
}

@media (max-width: 750px) {
    .tabs__headquarters {
        .headquarters__header h1 {
            font-size: 4rem !important;
        }

        .headquarters__details .headquarters__stats {
            flex-direction: column !important;
            align-items: flex-start !important;
        }
    }

    .sidebar {
        min-width: 60%;
    }

    .tabs-list li {
        padding-right: 30px;
    }
}
