{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Play Under{% endblock title %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'reset.css' %}" rel="stylesheet">
    <meta name="description" content="Under is an online text-based game about leading a cult.">
    <meta name="author" content="Blacklock">
    <meta name="theme-color" content="#D14436">
    <meta name="msapplication-navbutton-color" content="#D14436">
    <meta name="apple-mobile-web-app-status-bar-style" content="D14436">
    {% block head %}{% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>