{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block head %}
<style>
    body {
        background: white url('{% static 'game/paper2.jpg' %}');
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<link href="{% static 'base.css' %}" rel="stylesheet">
<link href="{% static 'game/form.css' %}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock head %}
{% block body %}

<div id="auth">
    {% if user.is_authenticated %}
    <p class="notice">You are already logged in as "{{ user.username }}". To register, first log out.</p>
    <script>window.location.replace('{% url 'game:index' %}');</script>
    {% else %}
    <h1 class="register-title nodrag">Register</h1>
    <form method="post" action="{% url 'game:register' %}">
        {% csrf_token %}
        <div id="form">
            {% csrf_token %}
            {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
            <label class="nodrag" for="id_username">USERNAME</label><br>
            {{ form.username }}
            {{ form.username.errors }}
            {% if user_error != '' %}<ul class="errorlist"><li>{{ user_error }}{% endif %}</li></ul><br>
            <label class="nodrag" for="id_email">EMAIL (OPTIONAL)</label><br>
            {{ form.email }}
            {{ form.email.errors }}
            <label class="nodrag" for="id_password1">PASSWORD</label><br>
            {{ form.password1 }}
            {{ form.password1.errors }}
            <label class="nodrag" for="id_password2">CONFIRM PASSWORD</label><br>
            {{ form.password2 }}
            {{ form.password2.errors}}
            <div class="nodrag">
                {{ form.remember_me }}
                <label for="id_remember_me">Remember Me</label>
            </div>
            <button class="nodrag o" type="submit">Register</button>
            <p>Already have an account? <a href="{% url 'game:login' %}">Login</a></p>
        </div>
    </form>
    {% endif %}
</div>
{% endblock body %}